.pd-container
  display flex
  flex-direction column
  align-items center
  justify-content center
  width 100%
  padding 50px 40px
  box-sizing border-box

.pd-container-content
  display flex
  flex-direction column
  align-items center
  justify-content center
  max-width 640px
  text-align center
