@font-face
  font-family Inter
  font-style normal
  font-weight 400
  font-display optional
  src url('@src/fonts/Inter-Regular.woff2') format('woff2')

@font-face
  font-family Inter
  font-style normal
  font-weight 700
  font-display optional
  src url('@src/fonts/Inter-Bold.woff2') format('woff2')
