:root {
  /* COLORS */
  --pg-color-gray-lighter           : #DADEE7;
  --pg-color-gray-light             : #CDD0D6;
  --pg-color-gray                   : #B8BEC6;
  --pg-color-gray-dark              : #6D7078;
  --pg-color-gray-darker            : #29303D;
  --pg-color-lightest               : #FFFFFF;
  --pg-color-darkest                : #000000;
  --pg-color-primary                : #555AFF;
  --pg-color-icon                   : var(--pg-color-darkest);

  /* FONT-SIZE */
  --pg-font-size-xs         : 0.875rem; /* 14px */
  --pg-font-size-sm         : 1.000rem; /* 16px */
  --pg-font-size-md         : 1.125rem; /* 18px */
  --pg-font-size-lg         : 1.250rem; /* 20px */
  --pg-font-size-xl         : 1.500rem; /* 24px */

  /* FONT-FAMILY */
  --pg-font-family-primary  : 'Inter', Helvetica, Arial, sans-serif;
}
